<div class="main-container">
  <div class="funtion-header">
    <div class="title-main">Danh sách sản phẩm</div>
    <div class="search-function">
      <form action="#" method="get">
        <input
          type="search"
          name="search"
          placeholder="Search by name product..."
        />
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <button class="add-button">
        Thêm mới
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="main-wrapper">
    <table>
      <thead>
        <tr>
          <th>Ảnh</th>
          <th>Tên Sản Phẩm</th>
          <th>Mô Tả</th>
          <th>Màu</th>
          <th>Dung lượng</th>
          <th>Loại</th>
          <th>Số Lượng</th>
          <th>Giá</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img
              src="{{this.imagerURL}}"
              alt="{{this.productName}}"
              width="80"
            />
          </td>
          <td>{{this.productName}}</td>
          <td class="description">
           {{this.description}}
          </td>
          <td>{{this.color}}</td>
          <td>{{this.size}}</td>
          <td>{{this.category}}</td>
          <td>{{this.quantity}}</td>
          <td>{{this.price}}</td>
          <td>
            <button class="edit-button">Sửa</button>
            <button class="delete-button">Xóa</button>
          </td>
        </tr>
        <tr>
          <td>
            <img
              src="/imgs/Phone/OPPO-Reno8-T_1.png"
              alt="Sản Phẩm 2"
              width="80"
            />
          </td>
          <td>Sản Phẩm 2</td>
          <td class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor
            metus at ante tincidunt, a auctor tellus lacinia.
          </td>
          <td>Trắng</td>
          <td>{{this.size}}</td>
          <td>Quần</td>
          <td>5</td>
          <td>200,000 VNĐ</td>
          <td>
            <button class="edit-button">Sửa</button>
            <button class="delete-button">Xóa</button>
          </td>
        </tr>
        <tr>
          <td>
            <img
              src="/imgs/Phone/realme-9-Pro-Plus_1.png"
              alt="Sản Phẩm 3"
              width="80"
            />
          </td>
          <td>Sản Phẩm 3</td>
          <td class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor
            metus at ante tincidunt, a auctor tellus lacinia.
          </td>
          <td>Xám</td>
          <td>{{this.size}}</td>
          <td>Giày</td>
          <td>2</td>
          <td>300,000 VNĐ</td>
          <td>
            <button class="edit-button">Sửa</button>
            <button class="delete-button">Xóa</button>
          </td>
        </tr>
        <tr>
          <td>
            <img
              src="/imgs/Phone/ASUS-ROG-Phone-6_1.png"
              alt="Sản Phẩm 3"
              width="80"
            />
          </td>
          <td>Sản Phẩm 4</td>
          <td class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor
            metus at ante tincidunt, a auctor tellus lacinia.
          </td>
          <td>Xám</td>
          <td>{{this.size}}</td>
          <td>Giày</td>
          <td>2</td>
          <td>300,000 VNĐ</td>
          <td>
            <button class="edit-button">Sửa</button>
            <button class="delete-button">Xóa</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagenumbers" id="panigation">
      <div class="page-prev page hidden-page">Prev</div>
      <div class="page-1 page active-page">1</div>
      <div class="page-2 page">2</div>
      <div class="page-3 page">3</div>
      <div class="page-4 page">4</div>
      <div class="page-next page">Next</div>
    </div>
    <div class="form-detail_container">
      <div class="form-detail_wrapper">
        <form>
          <div class="product-id">
            <label for="product-id">ID Sản Phẩm:</label>
            <input type="text" id="product-id" name="product-id" required />
          </div>
          <div class="product-name">
            <label for="product-name">Tên Sản Phẩm:</label>
            <input type="text" id="product-name" name="product-name" required />
          </div>
          <div class="product-description">
            <label for="product-description">Mô Tả:</label>
            <textarea
              id="product-description"
              name="product-description"
              required
            ></textarea>
          </div>
          <div class="product-color">
            <label for="product-color">Màu:</label>
            <input
              type="text"
              id="product-color"
              name="product-color"
              required
            />
          </div>
          <div class="product-size">
            <label for="product-type">Loại:</label>
            <input type="text" id="product-type" name="product-type" />
          </div>
          <div class="product-quantity">
            <label for="product-quantity">Số Lượng:</label>
            <input
              type="number"
              id="product-quantity"
              name="product-quantity"
              min="1"
              required
            />
          </div>
          <div class="product-price">
            <label for="product-price">Giá:</label>
            <input
              type="number"
              id="product-price"
              name="product-price"
              min="0"
              required
            />
          </div>
          <div class="product-image">
            <label for="product-images">Ảnh:</label>
            <input
              type="file"
              id="product-images"
              name="product-images[]"
              accept="image/*"
              multiple
              required
            />
            <div id="preview-images"></div>
          </div>

          <button class="btn-fun" type="submit"></button>
        </form>
      </div>
    </div>
  </div>
</div>