{{#each products}}
  <a
    href="/Products/{{this.categoryId}}/{{this.productName}}/{{this.productId}}"
    class="top-proItem item-product"
  >
    <img
      src="{{this.imgShow}}"
      alt="{{this.productName}}"
      title="{{this.productName}}"
    />
    <p class="name-proItem">{{this.productName}}</p>
    <p class="price-proItem">{{this.price}} VND</p>
  </a>
{{/each}}