<main>
  <section class="title-page">
    <div class="title-wrapper">
      <a href="/" class="tthome">Home</a>
      <i class="fa-solid fa-angle-right"></i>
      <a href="/shop" class="ttShop">Shop</a>
      <i class="fa-solid fa-angle-right"></i>
      <span class="ttProduct">Phone</span>
    </div>
  </section>
  <section class="product-container">
    <div class="product-wrapper">
      <div class="imgs-product">
        <div class="list-img_product">
          {{#each product.imgs}}
            <div class="img-item">
              <img src="{{this.imageURL}}" alt="{{this.imageName}}" />
            </div>
          {{/each}}
        </div>
        <div class="img-show_container">
          <div class="img-show">
            <img src="" alt="" />
          </div>
          <div class="img-detail">
            <div class="prev">
              <i class="fa-solid fa-angle-left"></i>
            </div>
            <div class="img-wrapper">
              <img src="" alt="" class="img-big" />
            </div>
            <div class="next">
              <i class="fa-solid fa-angle-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="product-description">
        <p class="name-product">{{product.productName}}</p>
        <p class="price-product">{{product.price}} VND</p>
        <div class="horizontal-line" style="width: 70%"></div>
        <p class="product-overview">
          {{product.description}}
        </p>
        <div class="horizontal-line" style="width: 70%"></div>

        <div class="selection">
          <label for="size">Size:</label>
          <div class="custom-dropdown">
            <select id="size">
              {{#each product.uniqueSizes}}
              <option value="{{this}}">{{this}}GB</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="selection">
          <label for="color">Color:</label>
          <div class="custom-dropdown">
            <select id="color">
              {{#each product.uniqueColors}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="btn-wrapper">
          <div class="add-to-cart">
            <label for="quantity">Quantity:</label>
            <div>
              <div class="quantity-product">
                <input
                  class="quantity"
                  type="number"
                  value="1"
                  min="1"
                  max="{{product.quantity}}"
                  id="quantity"
                  name="quantity"
                />
              </div>
            </div>
          </div>
          <div class="btn-buy">
            <button id="cart-btn" class="active" type="submit">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="description">
    <div class="description-wrapper">
      <div class="toggle-buttons">
        <button id="description-btn" class="active">Description</button>
        <button id="additional-info-btn">Additional Information</button>
      </div>

      <div id="description-section">
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at est
          vel magna sagittis fringilla eu id dolor. Sed eu varius urna, et
          fringilla nunc. Quisque in ligula ac nunc tincidunt lacinia. Duis in
          tellus ipsum. Donec semper, quam ut eleifend ultrices, tortor urna
          fringilla ex, non faucibus augue neque sed purus. Sed sodales ligula
          ac est ultrices pulvinar. Nunc at congue est. Proin imperdiet arcu
          tellus, a tempus velit maximus vitae.
        </p>
      </div>

      <div id="additional-info-section" style="display: none">
        <ul>
          <li>Size: Large</li>
          <li>Color: Red</li>
          <li>Material: Cotton</li>
          <li>Weight: 200g</li>
        </ul>
      </div>
    </div>
    <div class="front-back view">
      <img class="front-img" src="/imgs/S23 Ultra Front View.png" alt="" />
      <img class="back-img" src="/imgs/S23 Ultra Front View.png" alt="" />
    </div>
  </section>
</main>